beautifulsoup4==4.12.3
duckduckgo_search==7.2.1
html2text==2024.2.26
langchain==0.3.14
langchain_community==0.3.14
langchain_core==0.3.29
langchain_experimental==0.3.4
langchain_openai==0.3.0
pydantic==2.10.5
pyfiglet==1.0.2
python-dotenv==1.0.1
rich==13.9.4
